<% dragActions = "dragstart->test#dragStart dragover->test#dragOver dragenter->test#dragEnter drop->test#drop dragend->test#dragEnd dragleave->test#dragLeave" %>


<div>
  <table>
    <tbody>
    <% (1..8).each do |y_coord| %>
      <tr id= <%= y_coord %>>
        <% (1..8).each do |x_coord| %>
          <td draggable="true" data-controller="test" data-x-coord=<%= x_coord %> data-y-coord=<%= y_coord %> data-test-target="square" class=<%= "#{(y_coord % 2 == x_coord % 2 ? "white-square droppable-square" : "black-square droppable-square")}" %>>
            <button data-action="click->test#greet" data-test-id-param=<%= x_coord * y_coord %>>
              <% if (gamepiece = @pieces.where("(x_coord = ? AND y_coord = ?)", x_coord, y_coord).first) %>
                <span draggable="true" data-action="dragstart->test#dragStart dragover->test#dragOver dragenter->test#dragEnter drop->test#drop dragend->test#dragEnd dragleave->test#dragLeave" > <%= image_tag gamepiece.image, class: "#{gamepiece.name} selectable-piece", id: gamepiece.id %></span>
              <% end %></button>
          </td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>